.app {
  color: #2c2d30;
  margin: 0 auto;
  width: 80vw;
  max-width: 800px;
  display: flex;
  flex-direction: column;
}
.appBottom {
  border-top: 1px solid #e3e3e3;
  text-align: center;
  padding: 1em;
  flex-shrink: 0;
}

.animContainer {
  display: flex;
  justify-content: center;
  flex: 1 1;
  align-items: center;
  position: relative;
}

a, a:visited {
  color: #6290c3;
}

.appBottom > a {
  text-decoration: none;
}

.appBottom > a:hover {
  text-decoration: underline;
}

.loaderAnimContainer {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 6;
}
.loaderContainer {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 6;
}

.loader {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.loaderBubble {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  transform-origin: 10px 74px;

  left: 39px;
  top: -25px;

  animation-name: spin;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.loaderBubble:nth-child(1) {
  animation-delay: .4s;
}
.loaderBubble:nth-child(2) {
  animation-delay: .8s;
}
.loaderBubble:nth-child(3) {
  animation-delay: 1.2s;
}
.loaderBubble:nth-child(4) {
  animation-delay: 1.6s;
}
.loaderBubble:nth-child(5) {
  animation-delay: 2s;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes imgpulse {
  0% { transform: scale(1); }
  50% { transform: scale(.8); }
  100% { transform: scale(1); }
}

@keyframes textpulse {
  0% { opacity: 1 }
  50% { opacity: .3; }
  100% { opacity: 1; }
}

.loaderImg {
  border-radius: 50%;
  width: 98px;
  height: 98px;
  animation-name: imgpulse;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.loaderImgContainer {
  width: 98px;
  height: 98px;
  margin: 32px 0;
  line-height: 0;
  position: relative;
}
.loaderText {
  font-weight: 900;
  animation-name: textpulse;
  animation-duration: .4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.quoteBox {
  flex: 1 1 auto;
  padding: 2em 0;
}
.quoteText {
  font-size: 44px;
  position: relative;
  padding: 20px;
}
.quoteAttrib {
  text-align: right;
}

.quoteAttrib > span {
  font-weight: 900;
}


.quoteAttrib > span > a {
  text-decoration: none;
}

.quoteAttrib > span > a:hover {
  text-decoration: underline;
}


.content {
  font-style: italic;
  margin: 0 0 0 12px;
}

.quoteBar {
  background: #e3e4e6;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}

.shim {
  width: 4px;
}

.quoteDate {
  font-size: 12px;
  color: #777;
  font-style: italic;
}

.controlLink {
  text-decoration: none;
  display: inline-block;
  margin: 0 .25rem;
}

.bottom {
  display: flex;
  align-items: center;
}

.bottomLeft {
  flex: 1 1;
}
.bottomRight {
}
